.ladders-right div {
  display: none;
}

.ladders {
  width: 450px;
  img{
    margin: 0 20px;
  }
}

.ladders-left {
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.ladders {
  bottom: 0px;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  img{
    width: 100px;
  }
}


@media (max-height: 1000px) {
  .ladders {
    top: 5%;
    bottom: auto;
    width: auto;
  }
}

@media (min-width: 1067px) {
  .ladders-right div {
    display: block;
  }
  .ladders{
    width: auto;
    max-width: 450px;
    img{
      width: auto;
    }
  }
  .ladders-left {
    left: -100px;
    margin: auto;
    right: auto;
  }
  
  .ladders-right {
    right: 100px;
  }
}

.ladders div {
  position: relative;
  img {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
  }
}

.ladders div:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  top: 60px;
  img {
    transform: rotate(3deg);
  }
}

.ladders div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  top: 10px;
  img {
    transform: rotate(-1deg);
  }
}

.ladders div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  top: 45px;
  img {
    transform: rotate(2deg);
  }
}

.ladders div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.5s;
  top: 15px;
  img {
    transform: rotate(-2deg);
  }
}