html,
body {
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #272d37;
    color: #ffffff;
}

section {
    padding: 50px 0;
}

@media (max-width: 767px) {
    section {
        padding: 20px 0;
    }
}

#section-intro {
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

#section-deposit {
    color: #ffffff;
    background-color: #01aea6;
}

.section-stats {
    color: #ffffff;
}

#section-about {
    color: #ffffff;
    background-color: #14171d;
    font-size: 0.8em;
}

.image {
    display: block;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.full-height {
    min-height: 100vh;
}

/* Map Features */

#section-map {
    position: relative;
    #map {
        min-height: 100vh;
        position: relative;
        z-index: 1;
    }
    .arrow_box {
        z-index: 2;
        top: 0;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(1, 174, 166, 0);
        border-top-color: #01aea6;
        border-width: 30px;
        margin-left: -30px;
    }
}

.customMarker {
    display: inline-block;
    border-radius: 4px;
    width: 80px;
    height: 48px;
    margin-left: -33px;
    margin-top: -24px;
    font-size: 1em;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    transition: 200ms;
    transition: all .2s ease-in-out;
    position: absolute;
    cursor: pointer;
    span {
        opacity: 0.8;
    }
    strong {
        font-size: 1.2em;
        font-weight: 600;
    }
}
#section-deposit, #section-map, #section-stats-postcode, #section-stats-city, #section-about, #section-share{
    display: none;
}

#section-footer{
    background: 1px solid #1e2229;
    line-height: 1.6em;
}
.ribbon {
    background-color: #272d37;
    padding: 20px 40px;
    font-weight: 800;
    display: inline-block;
    margin: 10px auto 35px;
    position: relative;
    &:after {
        content: url('../../assets/images/ribbon.svg');
        width: 80px;
        left: -60px;
        top: 15px;
        position: absolute;
        z-index: 100;
    }
    &:before {
        content: url('../../assets/images/ribbon.svg');
        width: 80px;
        right: -60px;
        top: 15px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        z-index: 100;
    }
}

@media (max-width: 767px) {
    .ribbon {
        border-radius: 5px;
        width: 100%;
        margin: 15px auto 15px;

        &:after {
            display:none;
        }
        &:before {
            display:none;
        }    
    }
}

#input-message {
    z-index: 2;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    width: 100%;
}

#error-message{
    background-color: #dc3373;
    margin: 1em 0px;
    padding: 15px 30px;
    border-radius: 5px;
    z-index: 999;
    position: relative;
    font-size: 0.9em;
    display: none;
    max-width: 400px;
    margin: .5em auto;
    line-height: 1.2em;
}
#error-message:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(220, 51, 115, 0);
	border-bottom-color: #dc3373;
	border-width: 15px;
	margin-left: -15px;
}

.share-icon{
    width: auto; 
    display: inline-block;
    padding: 20px 30px;
    border-radius: 5px;
    margin: .5em .5em;
    min-width: 250px;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    transition: 300ms background-color;
}


@media (max-width: 767px) {
    .share-icon{
        width: 90%;
    }
}

.share-facebook{
background-color:#3b5998;
text-decoration: none;
&:hover{
    background-color:#1f3d7b;

}
}

.share-twitter{
background-color: #1da1f2;
color:#fff;
&:hover{
    background-color:#1286ce;
}
}

.ribbon-component {
    margin: 20px auto;
}

.customMarker:hover {
    z-index: 100;
    background-color: #111925 !important;
    color: white;
}

/* Footer Section */

#footer {
    text-align: center;
    background-color: #111925;
    color: white;
    padding: 18px 0px;
    height: 60px;
    font-size: 0.8em;
}

#footer img {
    display: none;
    margin: 0 auto;
    width: 150px;
    margin: 5px auto 10px;
}

#footer a {
    color: white;
    text-decoration: underline;
}
