/* Input UI */

input {
//     padding: 20px;
    border: 0px;
    min-width: 100%;
    font-size: 1.1em;
    height: 60px;
    box-sizing: border-box;
    vertical-align: bottom;
    color: #333;
    margin: 20px 0px;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    width: 90%;
}


@media (min-width: 767px) {
    input {
        min-width: 400px;
    }
}


/* Error Message */

.errorMsg {
    background-color: white;
    color: #333;
    padding: 15px 30px;
    max-width: 370px;
    width: 90%;
    border: 2px solid #c62d46;
    border-radius: 10px;
    margin: 15px auto 10px;
    position: relative;
    font-size: 0.9em;
    display: none;
}

.errorMsg:after,
.errorMsg:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.errorMsg:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

.errorMsg:before {
    border-color: rgba(198, 45, 70, 0);
    border-bottom-color: #c62d46;
    border-width: 13px;
    margin-left: -13px;
}
