.graph-container {
    h4 {
        margin-bottom: 0.2em;
    }
    position: relative;
    .graph-row {
        width: 100%;
        text-align: left;
        position: relative;
        display: inline-block;
        li {
            width: 49%;
            float: left;
            font-size: 0.8em;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#466498+0,952d7a+101 */
            background: #466498;
            /* Old browsers */
            background: -moz-linear-gradient(left, #466498 0%, #952d7a 101%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #466498 0%, #952d7a 101%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #466498 0%, #952d7a 101%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#466498', endColorstr='#952d7a', GradientType=1);
            /* IE6-9 */
            padding: 12px 20px 10px;
            margin: 5px 0px;
            list-style: none;
            line-height: 1.5em;
        }
        li:nth-child(2) {
            float: right;
            background: #952d7a;
            background: -moz-linear-gradient(left, #952d7a 0%, #466498 100%);
            background: -webkit-linear-gradient(left, #952d7a 0%, #466498 100%);
            background: linear-gradient(to right, #952d7a 0%, #466498 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#952d7a', endColorstr='#466498', GradientType=1);
            text-align: right;
        }
    }
    .dynamic-graph-row {
        li {
            width: 100%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#466498+0,952d7a+101 */
            background: #466498;
            /* Old browsers */
            background: -moz-linear-gradient(left, #466498 0%, #952d7a 101%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #466498 0%, #952d7a 101%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #466498 0%, #952d7a 101%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#466498', endColorstr='#952d7a', GradientType=1);
            /* IE6-9 */
            font-size: .9em;
            padding: 12px 20px 10px;
            margin: 10px 0px;
            list-style: none;
            line-height: 1.5em;
        }
    }
    .row-right li {
        background: #952d7a;
        background: -moz-linear-gradient(left, #952d7a 0%, #466498 100%);
        background: -webkit-linear-gradient(left, #952d7a 0%, #466498 100%);
        background: linear-gradient(to right, #952d7a 0%, #466498 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#952d7a', endColorstr='#466498', GradientType=1);
    }
    .mobile-graph-row {
        width: 100%;
        position: relative;
        margin: 1em 0;
        li {
            display: inline-block;
            width: 100%;
            font-size: .9em;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#466498+0,952d7a+101 */
            background: #466498;
            /* Old browsers */
            background: -moz-linear-gradient(left, #466498 0%, #952d7a 101%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #466498 0%, #952d7a 101%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #466498 0%, #952d7a 101%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#466498', endColorstr='#952d7a', GradientType=1);
            /* IE6-9 */
            padding: 12px 20px 10px;
            margin: 5px 0px;
            list-style: none;
            text-align: left;
            line-height: 1.5em;
        }
        strong {
            font-weight: 700;
            margin-right: 3px;
        }
    }
    .longest li {
        background: #952d7a;
        background: -moz-linear-gradient(left, #952d7a 0%, #466498 100%);
        background: -webkit-linear-gradient(left, #952d7a 0%, #466498 100%);
        background: linear-gradient(to right, #952d7a 0%, #466498 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#952d7a', endColorstr='#466498', GradientType=1);
    }
    .desktop-only {
        display: none;
    }
    .heading-left {
        float: left;
        width: 50%;
        text-align: left;
    }
    .heading-right {
        float: right;
        width: 50%;
        text-align: right;
    }
}

#graph-2,
#graph-1 {
    display: none;
}

.row-left {
    width: 49%;
    float: left;
    li {
        text-align: left;
    }
}

.row-right {
    width: 49%;
    float: right;
    li {
        text-align: right;
    }
}

@media (max-width: 767px) {
    .row-left,
    .row-right {
        width: 100%;
        float: left;
    }
}