@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,600');
@font-face {
    font-family: "AvantGothic";
    src: url('../fonts/Avant-Gothic-Bold.otf');
}

body {
    font-family: 'Poppins', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-family: 'AvantGothic', sans-serif;
    margin: 0px;
}

strong{
    font-weight: 700;
}

h1 {
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 12px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: .5em;
}

h5 {
    letter-spacing: 0.09em;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

p {
    font-size:1.1em;
    line-height: 1.6em;
    margin-bottom: .3rem;
}

a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.highlight {
    color: #ff5e7c;
}

@media (min-width: 767px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    h5 {
        font-size: 1.2em;
    }
    p {
        line-height: 1.6em;
        font-size: 1em;
    }
}